* {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#root {
  width: 100%;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, rgb(67, 198, 172), rgb(25, 22, 84));
  max-width: 590px;
  margin: 0 auto;
  padding: 0 16px;
}

.input {
  padding: 10px;
  border: 0;
  outline: none;
  flex: 1;
  background-color: transparent;
  border-bottom: 1px solid #CCC;
  color: #EBEBEB;
}

.input::placeholder {
  color: #EBEBEB;
  text-shadow: 1px 1px 2px #333;
}

.button {
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  outline: none;
  border: 0;
  background-color: #527492;
  color: #EBEBEB;
}

.button:hover {
  background-color: #374e62;
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
}

@media(min-width: 720px) {
  .background {
    padding: 0 16px;
  }
}